<!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Thanks</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Thanks for registering with us, please verify your email id by clicking the link sent to you in mail.</p>
      <input type="button" name="signin" class="btn btn-secondary x" onclick="window.location.href='login';" value="Sign In">
     
    </div>
  </div> -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="col-12">
      <div class="card col-12">
          <div class="card-body">
    <p>Thanks for registering with us, please verify your email id by clicking the link sent to you in mail.</p>
    <div class="form-group input-group x">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-sign-in"></i> </span>
      </div>
      <input type="button" name="signin" class="btn btn-secondary" onclick="window.location.href='login';" value="Sign In">
      </div> 
  </div>
  </div>
  </div>